@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

.resolucion{
  width: 99%;
  text-align: center;
}

@media (max-width: 767px){
  .desktop{
    display: none;
  }
  .tablet{
    display: none;
  }
}

@media (max-width: 768px) and (max-width: 990px){
  .desktop{
    display: none;
  }
  .movil{
    display: none;
  }  
}

@media (max-width: 991px){
  .tablet{
    display: none;
  }
  .movil{
    display: none;
  }  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  gap: 30px;
  background-color: #f3efe0;
  color: #212121;
}

.wrapper p {
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.brand {
  margin-top: -7px;
}

.brand span {
  color: #EA7E1E;
}

.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.btn {
  position: relative;
  padding: 5px 7px;
  text-decoration: none;
  color: #151a1c;
  transition: all 0.6s ease;
}

.btn-1 {
  transition: all 0.6s ease;
  z-index: 1;
}

.btn-1::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 100%;
  left: -10px;
  top: 0;
  background-color: #ffb81b;
  transform: skew(20deg, 0deg);
  transition: all 0.4s ease;
}

.btn-1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0x;
  transform: skew(20deg, 0deg);
  border: 3px solid #EA7E1E;
  transition: all 0.4s ease;
  z-index: -1;
}

.btn-1:hover::after {
  background-color: #ffffff31;
  transform: skew(20deg, 0deg) translate(83px);
}

.btn-1:hover::before {
  background-color: #FFB81B;
  border: 3px solid #878601;
  transform: skew(20deg, 0deg) scale(1.1);
}

.btn-2 {
  transition: all 0.6s ease;
  z-index: 1;
}

.btn-2::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 100%;
  left: -10px;
  top: 0;
  background-color: #ffb81b;
  transform: skew(20deg, 0deg);
  transition: all 0.4s ease;
}

.btn-2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0x;
  transform: skew(20deg, 0deg);
  border: 3px solid #EA7E1E;
  transition: all 0.4s ease;
  z-index: -1;
}

.btn-2:hover::after {
  background-color: #ffffff31;
  transform: skew(20deg, 0deg) translate(127px);
}

.btn-2:hover::before {
  background-color: #FFB81B;
  border: 3px solid #878601;
  transform: skew(20deg, 0deg) scale(1.1);
}

.btn-3 {
  transition: all 0.6s ease;
  z-index: 1;
}

.btn-3::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 100%;
  left: -10px;
  top: 0;
  background-color: #ffb81b;
  transform: skew(20deg, 0deg);
  transition: all 0.4s ease;
}

.btn-3::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0x;
  transform: skew(20deg, 0deg);
  border: 3px solid #EA7E1E;
  transition: all 0.4s ease;
  z-index: -1;
}

.btn-3:hover::after {
  background-color: #ffffff31;
  transform: skew(20deg, 0deg) translate(125px);
}

.btn-3:hover::before {
  background-color: #FFB81B;
  border: 3px solid #878601;
  transform: skew(20deg, 0deg) scale(1.1);
}

.btn-4 {
  transition: all 0.6s ease;
  z-index: 1;
}

.btn-4::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 100%;
  left: -10px;
  top: 0;
  background-color: #ffb81b;
  transform: skew(20deg, 0deg);
  transition: all 0.4s ease;
}

.btn-4::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0x;
  transform: skew(20deg, 0deg);
  border: 3px solid #EA7E1E;
  transition: all 0.4s ease;
  z-index: -1;
}

.btn-4:hover::after {
  background-color: #ffffff31;
  transform: skew(20deg, 0deg) translate(121px);
}

.btn-4:hover::before {
  background-color: #FFB81B;
  border: 3px solid #878601;
  transform: skew(20deg, 0deg) scale(1.1);
}

.main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 2em;
}

h1 {
  font-size: 3em;
}

.info-content span {
  color: #EA7E1E;
}

.download-cv {
  padding: 10px 20px;
  background-color: #EA7E1E;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(255, 159, 5, 0.975);
}

.btn-leer {
  padding: 10px 20px;
  background-color: #f3efe0;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(255, 159, 5, 0.975);
}

.download-cv:hover {
  background-color: #FFB81B;
  box-shadow: none;
}

.main img {
  border: 7px solid #EA7E1E;
  width: 350px;
  height: 520px;
  z-index: 1;
}

.about {
  background-color: #EA7E1E;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
  z-index: 2;
}

.about img {
  width: 100%;
  grid-column: 1/5;
}

.about-info {
  grid-column: 5/10;
  padding: 3em;
}

.about-info h2 {
  font-size: 2em;
  color: #151a1c;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: #151a1c;
  margin-top: 5px;
  margin-bottom: 2em;
}

.about p {
  margin-bottom: 1em;
  color: #f3efe0;
}

.portfolio {
  width: 100vw;
  background-color: #f3efe0;
  color: #151a1c;
}

.portfolio-headings {
  width: 100vw;
  padding: 3em;
}

.portfolio-headings h2 {
  font-size: 2.5em;
}

.portfolio .container {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.card {
  width: 400px;
  color: #EA7E1E;
  height: 420px;
  background-color: #151a1c;
  margin: 1em;
}

.card__img {
  width: 100%;
  height: 230px;
  background-image: url(/img/toma.jpg);
  background-size: cover;
}

.card__tittle {
  padding: 20px;
  text-align: center;
}

.card__projects-links {
  display: flex;
  justify-content: space-evenly;
}

.card__projects-links a {
  color: #FFB81B;
  text-decoration: none;
}

.card__projects-links i {
  font-size: 1.5em; 
}

.card .project-details {
  margin: 0 auto;
  margin: 1em;
  width: 70%;
}

.card .project-details a {
  text-decoration: none;
  color: #151a1c;
  text-transform: uppercase;
}

.project-details-content {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1em;
}

  
.project-details-content {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1em;
}

.card__projects-links {
  display: flex;
  justify-content: space-evenly;
}

.button-content {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.contact-section {
  background-color: #EA7E1E;
  padding: 3em;
}

.contact-headings h2 {
  font-size: 3em;
}

.container-contact {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.contact-section img {
  width: 400px;
  height: 450px;
  bottom: 0px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}

.form-control, textarea {
  height: 150px;
  padding: 1.5em;
  background: #f3efe0;
  border: 1px solid #151a1c;
  color: #151a1c;
}

.form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}

.form-group .input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: #f3efe0;
  border: none;
  border-bottom: 1px solid #151a1c;
  color: #151a1c;
}

.form-group .btn-submit {
  padding: 10px 20px;
  margin: 1em;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  background-color: #f3efe0;
}

/* Botones links */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  padding: 2em;
  background-color: #151a1c;
}

.footer-content h2 {
  font-size: 3em;
  color: #f3efe0;
}

.footer-content h5 {
  font-size: 1.5em;
  text-align: center;
  color: #f3efe0;
}

.sotial-networks {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}

.sotial-networks i {
  font-size: 1.5em;
  color: #FFB81B;
}

.contact-section {
  padding: 3em;
}

.portfolio-headings h2,
.contact-headings h2 {
  font-size: 2.5em;
  color: #151a1c;
}